Priority Criteria for CSS
- !important
- Specificity
- Cascading/Overwriting


identifiers of elements 
    - Tagname
    - Position
    - Attributes/Class
    - ID 

properties: 
    color 
    font-size 
    width 
    height 
    position
    border 
    box-shadow
    visibility
    margin
    padding
    font-family
    display
    background
    ...

indentifier {
    property: value;
}


example: 
<p>The weather is amazing today!</p>

p {
    color: red;
    font-family: 'Helvetica, sans-serif'

}